<form action="/message" method="post">
  <fieldset>
    <legend>Broadcast Message</legend>
    <textarea name="message" id="message" class="span12" rows="5"></textarea>
    <span class="help-block">You can only enter 140 Characters. Think of it like Twitter (but cooler).</span>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary pull-right" value="Send Broadcast">
    </div>
  </fieldset>
</form>