<h2>Triple J Board</h2>
<p>Keep up to date with the 2012 Hottest 100 countdown and broadcast messages to everyone at the party!<br/><br/></p>
<p>
  <a class="btn btn-primary btn-large" href="/broadcast">
    Send a broadcast
  </a>
</p>
